.external-hovered {
	&::after {
		transition: 1s ease-in-out;
		height: 102vh;
	}
}

.top-nav {
	.font-bold,
	.font-semibold {
		position: relative;
		transition: 250ms ease-in-out all;

		&:hover {
			transition: 250ms ease-in-out all;
			&::after {
				transition: 250ms ease-in-out all;
				background-color: $color-primary;
			}
		}
	}

	&::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: transparent;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.link-arrow {
		display: none;
	}
}

.gradient {
	position: relative;
	&::after {
		content: '';
		width: 100%;
		height: 40vh;
		background: rgb(20, 22, 39);
		background: linear-gradient(
			236deg,
			rgba(20, 22, 39, 1) 0%,
			rgba(61, 31, 130, 1) 46%,
			rgba(82, 29, 93, 1) 61%,
			rgba(20, 22, 39, 1) 100%
		);
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
