$white: #e4e7ec;
$black: #202328;
$color-primary: #606cdb;

@import url('https://fonts.googleapis.com/css?family=Gabriel+Sans:bold');

$animationDuration: 1s;
$animationDelay: 250ms;
$bezierOne: cubic-bezier(0.86, -0.12, 0, 1);
$animationFill: forwards;

$logoSize: 250px;

@keyframes reveal {
	0% {
		width: 0px;
		opacity: 0;
	}
	100% {
		width: fit-content;
		opacity: 1;
	}
}

.logo {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	background: $black;
	animation: load 1s $bezierOne forwards;
	@keyframes load {
		0% {
			height: 0vh;
		}

		100% {
			height: 100vh;
		}
	}
	&__right,
	&__left {
		scale: 0;
		position: absolute;
		fill: $color-primary;
		animation: scaleIn 1s 500ms $bezierOne $animationFill,
			fadeIn 1s 500ms $bezierOne $animationFill;
	}
}
$baseDelay: 1555ms;

.animationPartTwo {
	.r,
	.e,
	.m,
	.c,
	.o,
	.s,
	.t,
	.oo,
	.ee,
	.tt,
	.eee,
	.n {
		opacity: 1 !important;
		transition: 500ms $bezierOne;
	}

	$baseDelay: 900ms;
	.s {
		transition-delay: $baseDelay;
	}
	.t {
		transition-delay: $baseDelay + 25ms;
	}
	.o {
		transition-delay: $baseDelay + 30ms;
	}
	.c {
		transition-delay: $baseDelay + 32ms;
	}
	.o {
		transition-delay: $baseDelay + 40ms;
	}
	.c {
		transition-delay: $baseDelay + 45ms;
	}
	.oo {
		transition-delay: $baseDelay + 35ms;
	}
	.m {
		transition-delay: $baseDelay + 60ms;
	}
	.e {
		transition-delay: $baseDelay + 75ms;
	}
	.ee {
		transition-delay: $baseDelay + 45ms;
	}
	.tt {
		transition-delay: $baseDelay + 75ms;
	}
	.eee {
		transition-delay: $baseDelay + 100ms;
	}
	.r {
		transition-delay: $baseDelay + 110ms;
	}
	.n {
		transition-delay: $baseDelay + 125ms;
	}

	.logo {
		&__left,
		&__right {
			scale: 0.1;
		}

		&__right {
			animation: pathSlideRight 1500ms 500ms $bezierOne $animationFill;
		}

		&__left {
			animation: pathSlideLeft 1500ms 500ms $bezierOne $animationFill;
		}
	}

	.text {
		color: $white;
		position: absolute;
		font-size: 5rem;
		transform: translate(-29px, -39px);
		@media screen and (max-width: 1500px) {
			font-size: 3.4rem;
		}
		@media screen and (max-width: 1205px) {
			font-size: 2.4rem;
		}
		span {
			opacity: 0;

			@for $i from 1 through 12 {
				&:nth-child(#{$i}) {
					animation-delay: 100ms * $i;
				}
			}
		}
	}
}

@keyframes letterShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scaleIn {
	from {
		scale: 0;
	}
	to {
		scale: 0.1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pathSlideLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-145px);
	}
}

@keyframes pathSlideRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(110px, -20px);
	}
}
