@import '../utillities/_loader-animations.scss';
@import url('https://fonts.googleapis.com/css?family=Gabriel+Sans:bold');
$animationDuration: 1s;
$animationDelay: 250ms;
$bezierInitial: ease;
$bezierOne: ease;
$animationFill: forwards;
$baseDelay: 1555ms;
$logoSize: 250px;
$slideDuration: 750ms;
$delayDuration: 500ms;
$letterDelay: 50ms;

body {
}

.content-wrapper {
	opacity: 1;
	transition: opacity 0.1s;
}

// .content-wrapper.loading {
// 	opacity: 0.1;
// 	background-color: black;
// 	filter: blur(8px);
// }

.animationPartTwo {
	position: relative;

	.logo {
		&__text {
			transform: translateY(-31px);
			$textInDuration: 1250ms;
			$delayDuration: calc(200ms * 2.5);
			animation: initialHideScale $bezierOne forwards;
			font-size: 6.6rem;

			@media screen and (max-width: 1199px) {
				font-size: 2.4rem;
			}
			@media screen and (min-width: 1200px) and (max-width: 1499px) {
				font-size: 3.4rem;
			}
			@media screen and (min-width: 1500px) and (max-width: 1920px) {
				font-size: 5rem;
			}
			@media screen and (min-width: 2560px) {
				font-size: 8.5rem;
			}

			@media screen and (max-width: 768px) {
				display: none;
			}

			.r,
			.e,
			.m,
			.c,
			.o,
			.s,
			.t,
			.tt,
			.oo,
			.ee,
			.tt,
			.eee,
			.n {
				opacity: 0;
				animation: fadeIn 400ms ease-in-out forwards;
			}

			.s {
				animation-delay: 50ms;
			}
			.t {
				animation-delay: $letterDelay + 100ms;
			}
			.o {
				animation-delay: $letterDelay + 200ms;
			}
			.oo {
				animation-delay: $letterDelay + 200ms;
			}
			.c {
				animation-delay: $letterDelay + 220ms;
			}
			.e {
				animation: fullHide 490ms ease-in-out forwards;
			}
			.m {
				animation: fullHide 475ms ease-in-out forwards;
			}
			.tt {
				animation: fullHide 475ms ease-in-out forwards;
			}

			.ee {
				animation: fullHide 500ms ease-in-out forwards;
			}
			.n {
				animation: fullHide 500ms ease-in-out forwards;
			}
			.eee {
				animation: fullHide 480ms ease-in-out forwards;
			}

			.tt {
				animation: fullHide 475ms ease-in-out forwards;
			}
			.r {
				animation: fullHide 550ms ease-in-out forwards;
			}
		}
	}
}
.logo {
	z-index: 1000;

	&__left,
	&__Right {
		animation: initialFade 1s 250ms $bezierOne forwards,
			initialScale 1s 250ms $bezierOne forwards;
	}
}

body:not(.animationPartTwo) {
	.logo {
		svg {
			opacity: 0;
			transform: scale(0);
			animation: initialFade 1s 400ms $bezierOne forwards,
				initialScale 1s 400ms $bezierOne forwards;
		}

		&__left,
		&__right {
		}

		&__text {
			opacity: 0;
		}
	}
}
.animationPartTwo {
	.logo {
		&__text {
			opacity: 1;
			animation: pageScaleOut 500ms 1400ms $bezierOne forwards;
			transform-origin: top;
		}

		svg {
			transform-origin: top;
			animation: pageScaleOut 500ms 1400ms $bezierOne forwards;
			z-index: 10;
		}

		&__left {
			animation: left $slideDuration cubic-bezier(1, 0.11, 0, 1.03)
				forwards;
		}
		&__right {
			animation: right $slideDuration cubic-bezier(1, 0.11, 0, 1.03)
				forwards;
		}
	}
}

.logo {
	position: relative;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	background: $black;
	position: fixed;
	animation: pageIn 750ms cubic-bezier(0.77, 0.1, 0.01, 1) forwards,
		pageIn 1s 3s cubic-bezier(0.97, 0.1, 0.01, 1) forwards reverse;

	&__text {
		color: $white;
		position: absolute;
		scale: 0.9;
	}

	&__right,
	&__left {
		fill: $color-primary;
		scale: 0.1;
	}
}

@keyframes dontShowInitial {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes letterShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scaleIn {
	from {
		scale: 0;
	}
	to {
		scale: 0.1;
	}
}
@keyframes SfadeIn {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pathSlideLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-155px);
	}
}

@keyframes pathSlideRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(120px, -20px);
	}
}

@keyframes pageIn {
	0% {
		height: 0;
		border-radius: 40px;
		border-radius: 10px;
	}

	100% {
		height: 100vh;
		border-radius: 0;
	}
}

@keyframes pageOut {
	0% {
		height: 100%;
		position: absolute;
	}

	100% {
		position: absolute;
		height: 50%;
	}
}

@keyframes initialHideScale {
	0% {
		scale: 0;
	}
	75% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
