$white: #e4e7ec;
$black: #202328;
$color-primary: #606cdb;

@import url('https://fonts.googleapis.com/css?family=Gabriel+Sans:bold');

$animationDuration: 1s;
$animationDelay: 250ms;
// $bezierOne: ease-in-out;
$bezierInitial: ease;
$bezierOne: ease;
// $bezierOne: cubic-bezier(0.86, -0.12, 0, 1);
$animationFill: forwards;

$baseDelay: 1555ms;

$logoSize: 250px;

@keyframes reveal {
	0% {
		width: 0px;
		opacity: 0;
	}
	100% {
		width: fit-content;
		opacity: 1;
	}
}

.animationPartTwo {
	.logo {
		.text {
			scale: 0;
			animation: initialHideScale 1s $bezierOne forwards;
		}

		&__left {
			animation: dontShowInitial 500ms forwards,
				left 1s 500ms $bezierOne forwards;
		}

		&__right {
			animation: dontShowInitial 500ms forwards,
				right 1s 500ms $bezierOne forwards;
		}

		&__left,
		&__right {
			opacity: 0;
			scale: 0.1;
		}

		@keyframes left {
			0% {
				transform: translateX(0px);
			}

			100% {
				transform: translateX(-128px);
			}
		}

		@keyframes right {
			0% {
				transform: translateX(0px);
			}

			100% {
				transform: translate(125px, -10px);
			}
		}
	}

	.text {
		position: absolute;
	}

	.r,
	.e,
	.m,
	.c,
	.o,
	.s,
	.t,
	.oo,
	.ee,
	.tt,
	.eee,
	.n {
		opacity: 1;
		animation: dontShowInitial 300ms forwards;
		transition: 100ms $bezierOne;
	}

	$baseDelay: 800ms;
	.s {
		animation: dontShowInitial 300ms forwards;
	}
	.t {
		animation: dontShowInitial 300ms forwards + 25ms;
	}
	.o {
		animation: dontShowInitial 300ms forwards + 30ms;
	}
	.c {
		animation: dontShowInitial 300ms forwards + 32ms;
	}
	.o {
		animation: dontShowInitial 300ms forwards + 40ms;
	}
	.c {
		animation: dontShowInitial 300ms forwards + 45ms;
	}
	.oo {
		animation: dontShowInitial 300ms forwards + 35ms;
	}
	.m {
		animation: dontShowInitial 300ms forwards + 60ms;
	}
	.e {
		animation: dontShowInitial 300ms forwards + 75ms;
	}
	.ee {
		animation: dontShowInitial 300ms forwards + 45ms;
	}
	.tt {
		animation: dontShowInitial 300ms forwards + 75ms;
	}
	.eee {
		animation: dontShowInitial 300ms forwards + 100ms;
	}
	.r {
		animation: dontShowInitial 300ms forwards + 110ms;
	}
	.n {
		animation: dontShowInitial 300ms forwards + 125ms;
	}

	.text {
		@media screen and (max-width: 1500px) {
			font-size: 3.4rem;
		}
		@media screen and (max-width: 1205px) {
			font-size: 2.4rem;
		}
		span {
			opacity: 0;

			@for $i from 1 through 12 {
				&:nth-child(#{$i}) {
					animation-delay: 100ms * $i;
				}
			}
		}
	}
}

.logo {
	position: relative;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	background: $black;
	position: relative;

	.text {
		color: $white;
		transform: translateY(-19px);
	}

	&__right,
	&__left {
		fill: $color-primary;
		opacity: 0;
		scale: 0;
		animation: fadeIn 1s 250ms $bezierOne forwards,
			scaleIn 1s 250ms forwards;
	}

	&::after {
		content: '';
		animation: pageIn 500ms $bezierOne forwards;
		background-color: $black;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
		left: 0;
	}
}

@keyframes dontShowInitial {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes letterShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scaleIn {
	from {
		scale: 0;
	}
	to {
		scale: 0.1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pathSlideLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-145px);
	}
}

@keyframes pathSlideRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(110px, -20px);
	}
}

@keyframes pageIn {
	0% {
		height: 0;
		border-radius: 30%;
	}

	100% {
		height: 100%;
		border-radius: 0;
	}
}
@keyframes pageOut {
	0% {
		height: 100%;
	}

	100% {
		height: 0;
	}
}

@keyframes initialHideScale {
	0% {
		scale: 0;
	}
	75% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
