body {
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	&.sidebar-expanded {
		.main-content {
			width: 85vw;
		}
	}
}

body {
	opacity: 0.1;
	filter: blur(5px);

	&.loader {
		opacity: 1;
		filter: blur(0);
	}
}

.loading {
	.content {
		opacity: 0.1;
		filter: blur(5px);
	}
}
@keyframes loadBlur {
	from {
		opacity: 0.3;
		filter: blur(5px);
	}

	to {
		opacity: 1;
		filter: blur(0);
	}
}
