body {
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	&.sidebar-expanded {
		.main-content {
			width: 85vw;
		}
	}
}

@keyframes loadBlur {
	from {
		opacity: 0.3;
		filter: blur(5px);
	}

	to {
		opacity: 1;
		filter: blur(0);
	}
}
