.link {
	position: relative;
	width: 100px;
	max-width: 150px;
	overflow: hidden;
	&--arrow {
		span {
			position: absolute;
			right: 0px;
		}

		&:hover {
			span {
				position: absolute;
				animation: swipeLeftBlur 0.5s cubic-bezier(0.23, 1, 0.32, 1);
			}
		}
	}
}
@keyframes swipeLeftBlur {
	0% {
		transform: translateX(0);
		filter: blur(0);
	}
	50% {
		transform: translateX(60px);
		filter: blur(2px);
	}
	60% {
		transform: translateX(200px);
	}

	100% {
		transform: translateX(0);
		filter: blur(0);
	}
}
@keyframes linkArrow {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
